* {
  box-sizing: border-box
}

body {
  font-family: 'Lato', sans-serif;
}

.home-title {
  text-align: left;
  font-family: 'Cedarville Cursive', 'helvetica', sans-serif;
}

/* .logo-home {
  display: block;
  color: white;
  width: auto;
  height: 110px;
  margin: 0 auto 30px;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
  margin-bottom: 60px;
} */

/* .homepage-title {
  font-size: 110px;
  text-align: center;
  margin: auto;
  padding: 50px;
}

.homepage-header {
  font-size: 40px;
  display: inline;
} */

.menu-container {
  text-align: center;
  font-family: 'Cedarville Cursive', 'helvetica', sans-serif;
  list-style: none;
}